/* Vomnibar CSS */

#vomnibar ol,
#vomnibar ul {
  list-style: none;
  display: none;
}

#vomnibar {
  position: fixed;
  /* adjusted to keep border radius and box-shadow visible*/
  /* width: calc(40% - 20px);  */
  width: 700px;
  top: 8rem;
  /* left: calc(8px + 30%); */
  left: calc(50% - 350px);

  background: #f1f1f1;
  text-align: left;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  z-index: 2139999999; /* One less than hint markers and the help dialog (see ../content_scripts/vimium.css). */
}

#vomnibar input {
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 1.2rem;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#vomnibar .vomnibarSearchArea {
  display: block;
}

#vomnibar ul {
  margin: 0;
  padding: 0;
}

#vomnibar li {
  margin: 4px 0.4rem;
  padding: 8px 8px 4px;
  font-size: 15px;
  color: black;
  position: relative;
  display: list-item;
  border-radius: 8px;
  background: #202124;
  border-bottom: 1px solid #151515;
}

#vomnibar li:last-of-type {
  margin-bottom: 0.4rem;
}

#vomnibar li:last-of-type {
  border-bottom: none;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  display: flex;
  gap: 0.25rem;
  overflow: hidden;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  padding: 4px 0;
}

#vomnibar li .vomnibarIcon {
  width: 22px;
  height: 22px;
}

#vomnibar li .vomnibarSource {
  color: #777;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 4px;
}

#vomnibar li .vomnibarSource::before {
  font-size: 1.1rem;
  margin-right: 8px;
  margin-left: 3px;
  color: #666;
  font-family: "JetBrainsMono Nerd Font"; /* Example font */
  left: 8px;
}

#vomnibar li .vomnibarSource[data-icon="tab"]::before {
  content: "\f488";
  margin-top: -3px;
}

#vomnibar li .vomnibarSource[data-icon="history"]::before {
  content: "\f464";
}

#vomnibar li .vomnibarSource[data-icon="bookmark"]::before {
  content: "\f461";
}

#vomnibar li .vomnibarSource[data-icon="domain"]::before {
  content: "\e68f";
}

#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: white;
  color: black;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  white-space: nowrap;
  margin-left: 0.5rem;
  color: #224684;
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: black;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: black;
  margin-left: 4px;
}
#vomnibar li em {
  font-style: italic;
}
#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #333;
}

#vomnibar li.vomnibarSelected {
  background-color: #bbcee9;
  border-radius: 6px;
}

#vomnibarInput::selection {
  /* This is the light grey color of the vomnibar border. */
  /* background-color: #F1F1F1; */

  /* This is the light blue color of the vomnibar selected item. */
  /* background-color: #BBCEE9; */

  /* This is a considerably lighter blue than Vimium blue, which seems softer
   * on the eye for this purpose. */
  background-color: #e6eefb;
}

.vomnibarInsertText {
}

.vomnibarNoInsertText {
  visibility: hidden;
  display: none;
}

/* Dark Vomnibar */

@media (prefers-color-scheme: dark) {
  #vomnibar {
    border-radius: 6px;
  }

  #vomnibar .vomnibarSearchArea,
  #vomnibar {
    background-color: #202124;
  }

  .vomnibarSearchArea::before {
    content: "\f002";
    font-family: JetBrainsMono Nerd Font;
    position: absolute;
    font-size: 1.2rem;
    top: 18px;
    left: 16px;
  }

  #vomnibar input {
    background-color: #191919;
    color: white;
    border: none;
    padding-left: 3rem;
  }

  #vomnibar ul {
    background-color: #202124;
  }

  #vomnibar li.vomnibarSelected {
    background-color: #37383a;
  }

  #vomnibar li .vomnibarUrl {
    white-space: nowrap;
    color: #5ca1f7;
  }

  #vomnibar li em,
  #vomnibar li .vomnibarTitle {
    color: white;
  }

  #vomnibar li .vomnibarSource {
    color: #9aa0a6;
  }

  #vomnibar li .vomnibarMatch {
    color: #abe9b3;
  }

  #vomnibar li em .vomnibarMatch,
  #vomnibar li .vomnibarTitle .vomnibarMatch {
    color: white;
  }
}
